!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Bryce Tsao
    %base{:target => "_blank"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "min.css", }
    %script{:src => "https://code.jquery.com/jquery-3.4.1.min.js"}
    %script{:defer => "", :src => "https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"}
    %script{:defer => "", :src => "min.js"}
  %body
    #album
      %a.arrow.prev
      %a.arrow.next
      #instaflow
        .cover
          .caption Fotografia hauria es visualitzarà amb música que coincideix l'estat d'ànim, per tant et poden portar allà.
    #particles
      %audio
      %canvas
      %canvas.glow
    #dock
      %ul
        %li
          %a{:href => "https://github.com/brycetsao"}
            %span GitHub
            .icon
              %ion-icon{:name => "logo-github"}
        %li
          %a{:href => "https://steamcommunity.com/id/brycetsao"}
            %span Steam
            .icon
              %ion-icon{:name => "logo-steam"}
        %li
          %a{:href => "https://fb.me/vxijk"}
            %span Facebook
            .icon
              %ion-icon{:name => "logo-facebook"}
        %li
          %a{:href => "https://instagr.am/brycetsao"}
            %span Instagram
            .icon
              %ion-icon{:name => "logo-instagram"}
        %li
          %a{:href => "https://m.me/vxijk"}
            %span Messenger
            .icon
              %ion-icon{:name => "chatbubble-outline"}
        %li
          %a{:href => "https://t.me/vxijk"}
            %span Telegram
            .icon
              %ion-icon{:name => "paper-plane"}
        %li
          %a{:href => "mailto:hi@bry.cat"}
            %span E-Mail
            .icon
              %ion-icon{:name => "mail"}
    %a#profile{:href => "https://www.cakeresume.com/bryce"}