@charset "UTF-8"

@font-face
  font-family Taipei
  src url("fonts/TaipeiSansTCBeta-Regular.woff2") format("woff2"),
      url("fonts/TaipeiSansTCBeta-Regular.woff") format("woff"),
      url("fonts/TaipeiSansTCBeta-Regular.ttf") format("truetype")

body
  background hsl(200 40% 5%)
  text-align center
  font-family Taipei, sans-serif

image-size = 480px

#instaflow
  position relative
  height image-size
  padding 80px
  overflow hidden
  perspective 2 * image-size

.cover, .description
  width image-size
  height image-size
  position absolute
  z-index 20
  left 50%
  transform translateX(-50%)
  background radial-gradient(
              circle at bottom left,
              hsla(45, 100%, 80%, 0.9) 0%,
              hsla(350, 100%, 65%, 0.8) 50%,
              hsla(300, 50%, 50%, 0.6) 100%)

.cover, .description, .instagram > img
  border-radius 4px
  filter: drop-shadow(2px 4px 8px black)

.description
  opacity 0
  transition 0s
  &:hover
    opacity 0.9
    transition .25s ease .25s

.caption
  width 360px
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  padding 5rem
  font-size 18px
  color white
  & > span
    line-height 3rem
    margin 0.5rem
    & > .iconify
      margin-right 0.25rem

.instagram
  pointer-events none
  &[position="0"]
    pointer-events auto
  & > img
    pointer-events auto
    cursor pointer
    width image-size
    height image-size
    position absolute
    left 50%
    transform-origin 50% 50%
    transition all .25s ease

for i in (-5..5)
  .instagram[position=\"{i}\"] > img
    f = (1 1.5 2 3 5 8)
    a = (0 45 45 30 15 0)
    j = abs(i)
    s = j == 0 ? 0 : i / j
    opacity (1 - j/5)
    transform translateX(120 * (s) + 90 * (i) - (image-size/2) px) scale(1 / f[(j)]) rotateY(-(s) * a[(j)] deg)
    z-index 10 - j

.arrow
  cursor pointer
  z-index 30
  position absolute
  top 50%
  padding 1.5rem 2rem
  color rgba(255, 255, 255, 0.5)
  font-size 3rem
  line-height 3rem
  background rgba(0, 0, 0, 0)
  border-radius 1rem
  transform-origin 50% 50%
  transform translateY(-50%)
  transition color 200ms, background 200ms
  &:hover, &:focus
    color rgba(255, 255, 255, 0.9)
    background rgba(0, 0, 0, 0.5)
  &.prev
    left 5%
    &:before
      content "❮"
  &.next
    right 5%
    &:after
      content "❯"